.header{
   background-color:rgba($color: $color-primary, $alpha: .09);


   .nav{
   // background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    //justify-items: center;
    align-items: center;
    padding: 2rem;
    list-style: none;
    
    &__link:link,
    &__link:visited{
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      display: block;
      color:rgba($color:  $color-secondary, $alpha: .3) ;
      padding: 1.2rem;
      transition: all .2s;
    }

    &__link:hover,
    &__link:active{
      background-color:rgba($color:  $color-grey-light-2, $alpha: .09);
      transform: translateY(-3px);
    }
    
   }
}